mat-card {
    margin-top: 1rem;
}
mat-card button {
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 20%;
}
mat-form-field textarea {
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
}